name: Deploy Book

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install tools
        uses: taiki-e/install-action@v2
        with:
          # Pin versions here for stability
          tool: mdbook@0.4.43, mdbook-admonish

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build Book
        run: |
          mdbook-admonish install ./
          mdbook build
          touch ./book/.nojekyll
          echo 'lazy.rice.edu' > book/CNAME

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: book

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
